.al-h{
    text-align: center;
    font-weight: bold;
}
.celoradek{
    text-align: center;
    font-weight: bold;
    font-size:12pt;
    background-color: #ded;
}
table, th, td {
    border: 1px solid #696;
    padding: 5px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1{
    color: #666;
    border-bottom: 1px solid #666;
    padding: 1ex;
}
body {
    font-family: Calibri;
    font-size: 14pt;
    background-color: #efe;
    text-align: justify;
    text-indent: 1em;
}
#karkulka{
    float: right;
    margin: 20px;
    max-height: 300px;
  }
form, form p{
    margin-top: 50px;
    text-indent: 0;
  }
form p{
    text-indent: 0;
  }